# Tool and hot key configuration for Gromit-MPX.
#
# See https://github.com/bk138/gromit-mpx/blob/master/README.md#configuration
# for what you can configure here and how the syntax looks like.
#
# ❗ Once done editing, you have to manually restart Gromit-MPX to apply the
# made changes.
#
# Note that there is https://github.com/bk138/gromit-mpx/issues/110 which will
# eventually replace this with a proper UI.
#

#
# Hot key / undo key.
# Uncomment to set Hot key and/or Undo key to a custom value. Note that you can only specify single keysyms, not key combos.
#

# HOTKEY = "F9";
# UNDOKEY = "F8";

#
# Tool definitions.
#

# Basic tools.
"pen" = PEN (size = 5 color = "red");
"arrow" = LINE (size = 6 arrowsize = 1 color = "red");
"eraser" = ERASER (size = 75);

# Advanced tools.
"smooth" = SMOOTH (simplify = 10 snap = 30 color = "red");
"smooth arrow" = "smooth" (arrowsize = 1);
"orthogonal" = ORTHOGONAL (size = 5 simplify = 15 radius = 20 minlen = 50 snap = 40 color = "red");
"orthogonal arrow" = "orthogonal" (arrowsize = 1);

# Shape tools.
"rect" = RECT (color = "red");
"circle" = CIRCLE (size = 3 color = "red");

# Recolor colors.
"recolor" = RECOLOR (size = 75 color = "red");
"red" = "recolor" (color = "red");
"green" = "recolor" (color = "green");
"blue" = "recolor" (color = "blue");
"yellow" = "recolor" (color = "yellow");
"black" = "recolor" (color = "black");

#
# Tool mappings to input devices. Not all tools are mapped in this config.
#

# Tip: use `xinput --list` to list all input-devices
# Buttons: 1, 2, 3, ... (Or Button1, Button2, ...)
# Modifiers: SHIFT, CONTROL, ALT, META

# Basic maps.
"default" = "pen";
"default"[3] = "eraser";
"default"[SHIFT] = "arrow";

# Advanced maps.
"default"[ALT] = "smooth";
"default"[ALT, SHIFT] = "smooth arrow";
"default"[ALT, CONTROL] = "orthogonal";
"default"[ALT, CONTROL, SHIFT] = "orthogonal arrow";

# Shape maps.
"default"[CONTROL] = "rect";
"default"[CONTROL, SHIFT] = "circle";

# Recolor maps.
"default"[2] = "green";
"default"[2, SHIFT] = "blue";
"default"[2, CONTROL] = "yellow";
"default"[2, CONTROL, SHIFT] = "black";
